:root {
    --background-color-white: #FFFFFF;
    --title-text-color: #212121;
    --main-text-color: #757575;
    --hover-color: #2196F3;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
body {
    background-color: var(--background-color-white);
    font-family: roboto, sans-serif;
}

img {
    display: block;
}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;x
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header{
padding-top: 24px;
padding-bottom: 25px;
}
.logo {

text-decoration: none;
color: var(--hover-color);
font-family: raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-part {
    color: #000000;
}
.logo-part-footer {
    color: var(--background-color-white);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.list-nav {
    display: flex;
    margin-left: 93px;

}
.list-nav .item {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
}
.list-nav .item:not(:last-child) {
margin-right: 50px;
}

.address-header {
    display: flex;
    margin-left: auto;
}
.address-header .item {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
}
.address-header .item:not(:last-child) {
    margin-right: 50px;
}

.list-nav a {
    position: relative;
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav .current {
    color: var(--hover-color);
}
.list-nav .current::after {
    content: "";
    display: flex;
    position: absolute;
    top: 45px;
    width: 48px;
    height: 4px;
    background:  var(--hover-color);
    border-radius: 2px;
}
.list-nav .port::after {
    width: 78px;
}
.address-header a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-style: normal;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
   margin-right: 10px; 
}


.list-nav a:hover,
.address-header a:hover,
.list-nav a:focus,
.address-header a:focus {
    color:var(--hover-color);
}

/* hero */
.hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
    url(../images/Hero.jpg);
    background-color:rgba(47, 48, 58, 0.4);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: var(--background-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.hero-button {
    display: inline-block;
    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    text-decoration: none;
    color:var(--background-color-white);
    background-color:var(--hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}
/* features */
.features {
    padding-top: 94px;
}
.features-list {
    display: flex;
}

.features-list .item {
    width: 270px;
}

.features-list>.item:not(:last-child) {
    margin-right: 30px;
}

.features p {
    margin: 0px;
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.features h3 {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-icon {
    width: 70px;
    height: 70px;
}

.features-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
/* about-us */
.about {
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-title {
    margin-top: 0px;
    margin-bottom: 50px;

    color: var(--title-text-color)
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.about-list {
    display: flex;
}
.about-list .item {
position: relative;
}

.about-list>.item:not(:last-child) {
    margin-right: 30px;
}
.about-above {
    position: absolute;
    bottom: 0px;

    width: 370px; 
    height: 70px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color-white);
    background-color:rgba(47, 48, 58, 0.8);
}
/* team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.team-title {
    margin-top: 0px;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list {
    display: flex;
}
.team-list .item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color-white);

}
.team-list>.item:not(:last-child) {
    margin-right: 30px;
}

.item-name {
padding: 30px 32px;
}
.team h3 {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.team p {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em; 
    text-align: center;
}

.team-links {
    display: inline-block;    
    fill: currentColor;
}

.links-list {
display: flex;
justify-content: center;
margin-top: 16px;
}

.links-item a{
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: #AFB1B8;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-item :hover,
.links-item :focus {
    background-color: var(--hover-color);
    color: var(--background-color-white);
}

.links-item:not(:last-child){
    margin-right: 10px;
}
/* Clients */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
    justify-content: center;
}

.client-item:not(:last-child) {
margin-right: 30px;
}
.clients-icon {
    fill: currentColor;
    
}
.clients-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.client-item a:hover,
.client-item a:focus {
    border-color: var(--hover-color);
    color:  var(--hover-color);
}


/* footer */
footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;

}

.footer-list {
    margin-top: 20px;
}
.footer-address>.item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address p {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--background-color-white);
    text-decoration: none;
    font-style: normal;
    background-color: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-address a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    background-color: #2F303A;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
}
footer>div {
    display: flex;
    align-items: baseline;
}
.footer-links {
    margin-left: 70px;
}
.footer-links-title{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--background-color-white);
    text-decoration: none;
    font-style: normal;
    background-color: #2F303A;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-links>.links-list {
    margin-top: 20px;
}
.footer-links a {
    background-color: rgba(255, 255, 255, 0.1);
}

.join-links {
    display: inline-block;    
    fill: var(--background-color-white);
    margin: 12px;
}
/* Форма для подписки */
.form-sign {
    display: flex;
}

.sign {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    
}

.sign-title {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color-white);
}

.sign input {
    width: 358px;
    height: 50px;
    margin-top: 20px;
    padding: 15px;

    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;;
}

.send {
    position: relative;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: auto;
    width: 200px;
    height: 50px;

    margin-left: 12px;
    margin-top: 36px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    text-decoration: none;
    color:var(--background-color-white);
    background-color:var(--hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center; 
    letter-spacing: 0.06em; 
}

.send::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 148px;
    right: 28px;

    display: block;
    width: 24px;
    height: 24px;
    
    background-image: url(../images/icon-send.svg);
}
/* Модальное окно */
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
 }
 .backdrop.is-hidden {
     opacity: 0;
     pointer-events: none;

 }
 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--background-color-white);
 }
 .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0px;
 }
  .btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background-image: url(../images/close.svg);
    width: 18px;
    height: 18px;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-icon:hover {
      fill: var(--hover-color);
  }

  .modal-form {
    display: flex;
    flex-direction: column;

  }
  
  .modal-title {
    display: inline-block;
    margin-bottom: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
  }
  .form-field {
  position: relative;
}
  .form-field:not(:nth-child(4)) {
      margin-bottom: 28px;
  } 
  .form-input {
    position: relative;
    display: block;
    padding-left: 42px;

    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px; 

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus-within,
  .comment:focus-within {
    border-color: var(--hover-color);
    outline: none;
  }

  .form-input:focus-within + .form-icon {
    fill: var(--hover-color);
    
  }

  .form-icon {
    position: absolute;
    top: 11px;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  textarea {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px; 
    resize: none;
  }

  .form-lable {
    position: absolute;
    top: -50%;

    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
  }

  .form-comment {
    position: absolute;
    top: -15%;

    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);

  }
  .comment {
    padding: 12px 16px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
    .form-checkbox {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .checkbox {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    .icon {
        content: '';
        margin-right: 7px;
        display: inline-block;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }

    .checkbox:checked + .icon {
        background-color: var(--hover-color);
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-origin: border-box;
        border-color: var(--hover-color);
        box-shadow: none;
    }

    .checkbox-text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
    }   

    .checkbox-text>a {
    color: var(--hover-color);
    }

    .submit-button {
    display: inline-block;
    padding: 10px 32px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    text-decoration: none;
    color:var(--background-color-white);
    background-color:var(--hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .submit-button:hover,
    .submit-button:focus {
    background-color:  #188CE8;
    }

/* portfolio list */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    border-top:1px solid #ECECEC;
}
/* buttons */
button {
    padding: 6px 22px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.button-list {
    display: flex;
    justify-content: center;
}
.button-list>.item:not(:last-child){
    margin-right: 8px;
}
.portfolio button {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio button:hover,
.portfolio button:focus {
    color: var(--background-color-white);
    background-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Carts */
.portfolio-link {
    display: block;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.portfolio-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.portfolio-preview>.item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}

.portfolio-preview>.item:not(:nth-child(n+7)) {
    margin-bottom: 30px;
}

.portfolio-preview>.item {
    width: 370px;
}
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-above,
.portfolio-link:focus .portfolio-above {
    transform: translateY(0);
}

.portfolio-content {
border-right: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
padding: 20px 24px;
}

.portfolio-img {
    display: block;
}
.portfolio-preview a {
    text-decoration: none;
}
.portfolio-preview h2 {
    margin-top: 0px;
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-preview p {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--main-text-color); 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
    a .portfolio-img-text {
    position: relative;
    overflow: hidden;
    min-width: 370px;
    height: 294px;
}
.portfolio-img-text .portfolio-above {
    position: absolute;
    z-index: 1;
    top: 0;

    width: 370px;
    height: 294px;
    padding: 63px 24px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--background-color-white);
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);    
}
